div.wrapper
  .main.one-edge-shadow
    h1 Responsive Web Design
  .main-section
    .cards.one-edge-shadow
      #card-img1
        img(src="http://placehold.it/300x200")
      .card-text
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus veniam at fugit, similique, illo numquam, repudiandae impedit inventore nisi est autem distinctio? Itaque maxime sit, magni natus enim tempore, error.
    .cards.one-edge-shadow
      #card-img2
        img(src="http://placehold.it/300x200")
      .card-text
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam explicabo est ullam nisi quas, aperiam fugit, expedita debitis amet consectetur ipsam, dolore dicta aut. Totam harum tempora, eos repudiandae ducimus.
    .cards.one-edge-shadow
      #card-img3
        img(src="http://placehold.it/300x200")
      .card-text
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nobis labore, cumque suscipit id et nemo tempore, repudiandae temporibus, consequatur excepturi! Libero hic aliquid, aliquam voluptas, vero suscipit quam ex!
  footer.footer.one-edge-shadow
    .social-buttons
      a(href="http://facbook.com")
        i.fa.fa-facebook-square.fa-3x.one-edge-shadow
      a(href="https://github.com")
        i.fa.fa-github-square.fa-3x.one-edge-shadow
      a(href="https://linkedin.com")
        i.fa.fa-linkedin-square.fa-3x.one-edge-shadow
      p (c)Mike Baker

